{% extends "base.html" %}
{% load static %}
{% block content %}


<!-- Product Style -->
<section class="product-area shop-sidebar shop section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
                <form class="row" id="fh5co_contact_form" action="{% url 'store:login.html' %}" method="POST">
                    {% csrf_token %}
                    <div class="col-6 py-3 text-center">
                        <table class="table">
                            <tr>
                                <td></td>
                                <td><input name="username" type="text" class="fh5co_contact_text_box"
                                        placeholder="Enter Username" /> </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><input name="password" type="password" class="fh5co_contact_text_box"
                                        placeholder="Enter password" />
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><input type="submit" class="btn contact_btn" value="Login"></td>
                            </tr>
                        </table>
                    </div>
                </form>
            </div>
		</div>
        <div class="row">
            <h6>{% if login_result %}{{login_result}}{% endif %}</h6>
            <h6>{% if logout_result %}{{logout_result}}{% endif %}</h6>         
        </div>
	</div>
</section>
    
{% endblock %}